body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #111; /* Dark background for the body */
}

.dashboard-body {
  position: relative; /* This is important for positioning tiles above the art */
  min-height: 100vh; /* Ensure full height of the screen */
}

#artCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2; /* Add this line to make art lighter */
  pointer-events: none;
}


.dashboard-header {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: #fff;
}

.tiles-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  z-index: 1;
  position: relative;
}

.tile {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  color: white;
  text-align: center;
  width: 200px;
  margin: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.tile:hover {
  transform: scale(1.1);
}

#logoutButton {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#logoutButton:hover {
  background-color: #e53935;
}
